:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bgr-color: #f5f4fa;
  --secondary-bgr-color: #2f303a;
}

/* цвет и фон страницы */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  border: 2px dashed red;
}

/* ------ убираем точки в списке --------- */
.list {
  list-style: none;

  padding: 0;
  margin: 0;
}

/* ----- убираем подчеркивания в ссылках---------  */

.link {
  text-decoration: none;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----HEADER------- */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-black {
  color: #000000;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.nav-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-color);
}

/* ------- HERO ------- */

.hero {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  background-color: var(--secondary-bgr-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  text-transform: uppercase;
}

.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  border: none;

  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

/* ------- FEATURE ------- */

.feature-list {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  margin-top: 0;
  margin-bottom: 94px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* -------------- WORK ---------------- */

.work-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list-item > img {
  display: block;
}

/* ---------- TEAM ------------ */

.team {
  text-align: center;
  background-color: var(--primary-bgr-color);
}

.team-title {
  margin-top: 0px;
  margin-bottom: 50px;

  outline: 2px solid tomato;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  background-color: yellowgreen;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  margin-top: 0;
  margin-bottom: 30px;

  outline: 2px solid tomato;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-list-item > img {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;

  outline: 2px solid tomato;
}
/* ------------- FILTERS ------------ */

.filters-button {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  text-align: center;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--primary-bgr-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
}

/* ------------- PORTFOLIO ------------ */

.portfolio-item:hover,
.portfolio-item:focus {
  color: var(--primary-text-color);
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  outline: 2px solid green;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 20px;

  outline: 2px solid red;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio.link > img {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  outline: 3px solid yellow;
}

/* ---------- FOOTER ----------- */

.footer {
  background-color: var(--secondary-bgr-color);
}

.logo-white {
  color: #ffffff;
}

.footer-list-item .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-item .footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-link:hover,
.footer-iink:focus {
  color: var(--accent-color);
}

.footer-list-item .link:hover,
.footer-list-item .link:focus {
  color: var(--accent-color);
}
